# ! no secrets should be put here
# if <env>="" then defaults will be used
port=""  # default 8080
replicas="" # default 2
cloud=""  # default aws
workdir=""  # default "." (root)
disk_size=""  # default 100
cpu="6+"  # default 4+
memory=""  # default 10+
accelerators="V100:1"  # default cpu
setup=""  # default docker image build
run=""  # default docker image
